.box-tina
	ul.box-tina-list
		li: a(href='#') Action
		li: a(href='#') Animation
		li: a(href='#') Comedy
		li: a(href='#') Detective
		li: a(href='#') Drama
		li: a(href='#') Thriller

h4 Trending Movies

.group-post-minimal
	article.post-minimal
		a.post-minimal-media(href=links.post): +img('blog-post-5-79x78').post-minimal-image
		.post-minimal-main
			p.post-minimal-title: a.link-black(href=links.post) Top 10 Movies to Watch This Summer
			time.post-minimal-time(datetime='2021') May 12, 2021
	article.post-minimal
		a.post-minimal-media(href=links.post): +img('blog-post-6-79x78').post-minimal-image
		.post-minimal-main
			p.post-minimal-title: a.link-black(href=links.post) TV Shows & Movies About Superheroes
			time.post-minimal-time(datetime='2021') June 19, 2021
	article.post-minimal
		a.post-minimal-media(href=links.post): +img('blog-post-7-79x78').post-minimal-image
		.post-minimal-main
			p.post-minimal-title: a.link-black(href=links.post) Unknown  Locations from Popular Movies
			time.post-minimal-time(datetime='2021') July 25, 2021



